* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #8a70b9;
}

p {
    padding: 20px;
    font-size: 19px;
}

h1 {
    background-color: #8054d2;
    padding: .6em;
    text-align: center;
}

h2 {
    padding: 10px;
    font-style: italic;
}

.home-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color:#6f46ba
}

.home-links a {
    text-decoration: none;
    font-style: italic;
    padding: .4em;
}

.container {
    min-height: 100vh;
    background-color: #b18df3;
    text-align: center;
    padding: 50px;
}

ul,ol {
    text-align: left;
    margin-left: 25%;
}

img {
    padding: 1em;
    border-radius: 35px;
}

